extends layout

block content
  h1= title
  -
    let results = [
      {
        "watch_name": "Smart Watch",
        "watch_color": "blue",
        "watch_cost": 35
      },
      {
        "watch_name": "Wrist Watch",
        "watch_color": "black",
        "watch_cost": 18
      },
      {
        "watch_name": "Analog Watch",
        "watch_color": "pink",
        "watch_cost": 20
    
      },                   
    ]
  div(class= "container-fluid")
    div(class = "row")
      each item,index in results
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.watch_name}
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.watch_color}
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.watch_cost}

  script.
    function buy(itemNum){
      alert(`You purchased item ${itemNum+1}`)
    }